<?xml version="1.0"?>
<!--irvstg-->
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
  
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="SystemFolders" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="nhibernate" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="maxRecords" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="diskCache" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="resourcesToCache" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <!-- using memcache
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    -->
    <section name="pathAliases" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="urlAliases" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="ConnectionUrls" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="sqlServerNhibernate" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="mapserverSQL2008" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="JobManager" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <JobManager>
    <add key="quartz.scheduler.instanceName" value="TestScheduler"/>
    <add key="quartz.scheduler.instanceId" value="instance_00"/>
    <!--todo.1 append GUID to ensure uniqueness-->
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
    <add key="quartz.threadPool.threadCount" value="5"/>
    <add key="quartz.threadPool.threadPriority" value="Normal"/>
    <add key="quartz.jobStore.misfireThreshold" value="60000"/>
    <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz"/>
    <add key="quartz.jobStore.useProperties" value="false"/>
    <add key="quartz.jobStore.dataSource" value="default"/>
    <add key="quartz.jobStore.tablePrefix" value="QRTZ_"/>
    <add key="quartz.jobStore.clustered" value="true"/>
    <!--if running SQLite we need this-->
    <!--<add key="quartz.jobStore.lockHandler.type" value="Quartz.Impl.AdoJobStore.UpdateLockRowSemaphore, Quartz"/>-->
    <add key="quartz.dataSource.default.connectionString" value="Server=IRVDBU2;Database=test_quartz;Trusted_Connection=True;"/>
    <add key="quartz.dataSource.default.provider" value="SqlServer-20"/>
    <!--see http://quartznet.sourceforge.net/tutorial/lesson_6.html for tutorial on cron expressions-->
    <add key="dmp.CRON_YEARLY" value="0 0 0 ? JAN SAT#1"/>
    <!--12 am, first saturday of january-->
    <add key="dmp.CRON_MONTHLY" value="0 0 0 ? * SAT#1"/>
    <!--12 am, first saturday of every month-->
    <add key="dmp.CRON_WEEKLY" value="0 0 0 ? * SAT"/>
    <!--12 am, every saturday-->
    <!--<add key="dmp.CRON_DAILY" value="0 0 0 ? * *"/>-->
    <!--12 am, everday-->
  </JobManager>
  <SystemFolders>
    <add key="UriRoot" value="http://internal.spatialstream.com/"/>
    <add key="_T1" value="c:\TEMP\LOCAL\"/>
    <add key="TEMP" value="c:\TEMP\LOCAL\"/>
    <add key="_T70" value="\\irvbl07\local\"/>
    <!--todo.1 document this-->
    <add key="PublicTemp" value="\\irvcluster\SharedTemp\PublicTemp\"/>
  </SystemFolders>
  <mapserverSQL2008>
    <add key="SQL2008_PLUGIN_PATH" value="\\irvstg\c$\Digital Map Websites\SpatialStreamConfi\Bin\dmpMsSql2008.dll"/>
  </mapserverSQL2008>
  <pathAliases>
    <add key="USERDATA_ROOT" value="\\irvcluster\replicated\USERDATA\"/>
    <add key="USERDATA_ROOT_WRITE" value="\\irvcluster\replicated\USERDATA\"/>
    <add key="METADATA_ROOT" value="\\irvcluster\replicated\USERDATA\"/>
    <!--<add key="USERDATA_ROOT" value="c:\replicated\USERDATA\"/>-->
    <add key="USERDATA_ROOT_WRITE" value="\\irvcluster\replicated\USERDATA\"/>
    <!--<add key="USERDATA_ROOT_WRITE" value="c:\replicated\USERDATA\"/>-->
    <!--<add key="USERDATA_ROOT" value="C:\TestPublish\USERDATA\" />-->
    <!--Tier 2, geocode servers-->
    <!--<add key="DATA_ROOT" value="z:\SPATIALSTREAM\Shapefiles\" />-->
    <add key="DATA_ROOT" value="z:\SPATIALSTREAM\Shapefiles\"/>
    <add key="RSET_P01_ROOT" value="z:\"/>
    <add key="RSET_P02_ROOT" value="z:\"/>
    <add key="RSET_P03_ROOT" value="t:\"/>
    <add key="RSET_S02_ROOT" value="u:\"/>
    <!--<add key="RSET_S03_ROOT" value="\\irvfs01\e$\RSET_S03_Data\" />-->
    <add key="RSET_S03_ROOT" value="\\IRVCLUSTER\RSET_S03_Data\"/>
    <!--<add key="RSET_S03_ROOT_WRITE" value="\\dmpdpu1\m$\af\rset_s03\" />-->
    <add key="RSET_S05_ROOT" value="\\irvcluster\RSET_S05_Data\"/>
    <add key="RSET_P04_ROOT" value="\\irvfs01\F$\RSET_P04_Data\"/>
    <add key="METADATA_ROOT" value="\\irvcluster\Replicated\"/>
    <!--
    <add key="SHARED_DATA_ROOT" value="\\digmap\ShapeData\" />
    <add key="ACTIVE_USER_WS_ROOT" value="c:\" />
    <add key="PRODUCTION_ROOT" value="c:\production\" />
    -->
  </pathAliases>
  <urlAliases>
    <add key="production" value="\\irvstg\c$\production"/>
    <add key="public_folder" value="\\irvcluster\USERDATA\PUBLIC_FOLDER"/>
  </urlAliases>
  <diskCache>
    <!--<add key="cacheDirectoryPath" value="\\digmap\SharedTemp\" />-->
    <!--<add key="cacheDirectoryPath" value="\\irvstg\c$\temp\" />-->
    <!--<add key="cacheDirectoryPath" value="\\irvcluster\SharedTemp\" />-->
    <add key="cacheDirectoryPath" value="\\irvcluster\Replicated\"/>
    <add key="isEnabled" value="true"/>
  </diskCache>
  <ConnectionUrls>
    <add key="RSET_P03" value="http://dc2.parcelstream.com/"/>
    <add key="RSET_S03" value="http://dc1.parcelstream.com/"/>
    <add key="DEFAULT" value="http://parcelstream.com/"/>
  </ConnectionUrls>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\parcelstreamlogs\ss03.txt"/>
      <!--<file value="\\irvstg\c$\parcelstreamlogs\ss_1.0.15.txt" />-->
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <countDirection value="1"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="10MB"/>
      <datePattern value="yyyyMMdd"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
    <logger name="Dmp.Neptune.Webservices.PathResolver" additivity="false">
      <level value="ERROR"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
    <logger name="Dmp.Neptune.Print.WmsLayer" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
    <logger name="Dmp.Neptune.DataLoader.AddressLoader" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
    <logger name="Dmp.Neptune.DataLoader.CoordinateLoader" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
    <logger name="Dmp.Neptune.Utils.ShapeFile.ShapeFileBuilder" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
    <logger name="GetGeocode" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
  </log4net>
  <nhibernate>
    <add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider "/>
    <add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2000Dialect"/>
    <add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
    <add key="hibernate.connection.connection_string" value="Server=irvdbu1;failover partner=irvdbu2;initial catalog=USER_ACCOUNT;User Id=pluto;Password=FaStEr04202006"/>
  </nhibernate>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=irvdbu1;Initial Catalog=USER_ACCOUNT;User Id=account_tools;Password=@T00l$" providerName="System.Data.SqlClient"/>
    <add name="TransactionUser" connectionString="Data Source=irvdbu1;User Id=account_tools;Password=@T00l$" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <maxRecords>
    <add key="GEOMETRY" value="200"/>
    <add key="CENTROID" value="200"/>
    <add key="NONE" value="3000"/>
    <add key="STREAM" value="20000"/>
  </maxRecords>
  <appSettings>
    <add key="DefaultRedirectTo" value="http://spatialstream.com/samples"/>
    <add key="SHPPROJ_EXE" value="\\irvstg\c$\Digital Map Websites\spatialstream.com\1.0.17\Bin\shpproj.exe"/>
    <add key="WKTTOPROJ4_EXE" value="\\irvstg\c$\Digital Map Websites\spatialstream.com\1.0.17\Bin\wktToProj4.exe"/>
    <add key="SVG_RASTERIZER_EXE" value="./Bin/SVGRasterizer.exe"/>
    <!-- Database Configuration file -->
    <add key="DbConfig" value="\\irvbl05\AppConfig\sql\irvdbu1Config.xml"/>
    <!--<add key="DbConfig" value="\\irvstg\c$\AppConfig\sql\irvdbu1Config.xml" />-->
    <!-- for data loader -->
    <add key="PublicDirectoryUrl" value="http://spatialstream.com/PUBLIC_FOLDER"/>
    <!-- todo.1 document this. note to run temp file clean up process on this directory-->
    <add key="PublicDirectory" value="\\irvcluster\SharedTemp\PublicTemp"/>
    <!--<add key="PublicDirectory" value="\\irvcluster\USERDATA\PUBLIC_FOLDER" />-->
    <!--<add key="PublicDirectory" value="C:\TESTPUBLISH\USERDATA\PUBLIC_FOLDER" />-->
    <!-- determines whether this server is a job processing server. Used in global.asax-->
    <add key="IsJobProcessingServer" value="true"/>
    <!--<add key="JobQueueName" value=".\SSQ1.0.17"/>-->
    <add key="JobQueueName" value="daflorendo7\DMPQ"/>
    <add key="DatabaseLocation" value="irvdbu1"/>
    <add key="DontReplyEmailAddress" value="donotreply@digmap.com"/>
    <add key="SMTP_SERVER" value="mail"/>
    <!-- determines the number of threads to use for bulk geocoding. -->
    <add key="BulkGeocodeThreads" value="1"/>
    <!-- SRC Geocoder data -->
    <add key="GeocodeAddressDataFiles" value="\\irvstg\c$\PWS\GeocodeData\Database\"/>
    <add key="GeocodeParserDataFiles" value="\\irvstg\c$\PWS\GeocodeData\tables\"/>
    <add key="GeocodeDataVersion" value="3"/>
    <add key="GeocodeData" value="\\irvstg\c$\PWS\GeocodeData\ParcelData\v3_20081212_parcel.dat"/>
    <add key="GeocodeIndex" value="\\irvstg\c$\PWS\GeocodeData\ParcelData\v3_20081212_index.dat"/>
    <add key="PARAMDOCS_FOLDER" value="C:\Users\agill\workspace\CSharpLib_03_Sharing\DMP.Websites.Neptune\App_Data\ParamDocs\"/>
    <add key="DefaultStyle" value="\\irvstg\c$\Digital Map Websites\spatialstream.com\1.0.17\App_Data\DefaultHybrid.sld.xml"/>
    <!-- AddressLoader -->
    <add key="DBUploadChunkSize" value="1000"/>
    <add key="maxErrors" value="100"/>
    <!-- directory to store log files -->
    <add key="LogDirectory" value="\\irvstg\c$\parcelstreamlogs\"/>
    <!-- Map Point Credential -->
    <!-- path to the temp directory to store cached tiles-->
    <add key="TempDirectory" value="\\irvstg\c$\temp\local\"/>
    <!-- Path to a shared temp directory-->
    <add key="SharedTemp" value="c:\irvcluster\SharedTemp\"/>
    <!--<add key="SharedTemp" value="C:\temp\SharedTemp\" />-->
    <!--why is DATA_ROOT here when it's already under pathAliases? because DmpConfig.DATA_ROOT points to here. can probably point it to one under pathAliases.-->
    <!--geocode servers use this values-->
    <add key="DATA_ROOT" value="\\irvcluster\replicated\dmpdata\"/>
    <!--<add key="DATA_ROOT" value="\\irvcluster\replicated\dmpdata\" />-->
    <!-- not used -->
    <!--<add key="DATA_PATH" value="z:\SPATIALSTREAM\Shapefiles\" />-->
    <add key="SHARED_DATA_ROOT" value="\\digmap\ShapeData\"/>
    <add key="AppDataFolderPath" value="\\irvstg\c$\temp"/>
    <add key="UNFORMATTED_LOCATION_ID_COLUMN_NAME" value="LOCIDUFM"/>
    <add key="LOCATION_ID_COLUMN_NAME" value="LOCID"/>
    <add key="INDEX_FILE_NAME" value="parcel_global_index2"/>
    <add key="PROJ_LIB" value="\\irvstg\c$\PWS\proj\nad"/>
    <!-- used to restrict Query requests-->
    <add key="DEFAULT_IMAGE_WIDTH" value="256"/>
    <add key="DEFAULT_IMAGE_HEIGHT" value="256"/>
    <add key="MAX_IMAGE_AREA" value="4000000"/>
    <add key="MAX_QUERY_AREA" value="64749702.7584"/>
    <add key="SHP2IMG_EXE" value="./Bin/renderStream.exe"/>
    <add key="AA_SHP2IMG_EXE" value="./Bin/PSBatchCvt.exe"/>
    <add key="ADDRESS_POINT_COMPILER_EXE" value="\\irvstg\c$\Digital Map Websites\spatialstream.com\1.0.17\Bin\AddressPointCompiler.exe"/>
    <add key="SHAPETREE_INDEX_EXE" value="\\irvstg\c$\Digital Map Websites\spatialstream.com\1.0.17\Bin\shptree.exe"/>
    <add key="DMP_QUERY_INDEX_EXE" value="\\irvstg\c$\Digital Map Websites\spatialstream.com\1.0.17\Bin\DQXBuildTree.exe"/>
    <!-- path to the tib folder-->
    <add key="TibPath" value="T:\ParcelTibs"/>
    <add key="TibPath24bit" value="\\irvbl06\u$\ParcelTibs"/>
    <add key="OutputPng" value="true"/>
    <!-- Path to java Neptune for DMPAPI -->
    <add key="JAVA_SERVER_PATH" value="http://spatialstream.com/"/>
    <!-- XML output settings -->
    <add key="maxReturnWKTLength" value="65000"/>
    <add key="maxReturnFieldSize" value="500"/>
    <!-- Account Data path -->
    <add key="ACCOUNT_DATA" value="\\irvstg\c$\Replicated\AccountData\"/>
    <!-- days to cache tiles-->
    <add key="ClientCacheTileDays" value="2"/>
    <!-- flag that indicates weather to use security for the webservice-->
    <add key="UseSecurity" value="true"/>
    <!-- ========================== -->
    <!-- Map Point related settings -->
    <!-- ========================== -->
    <add key="MapPointDefaultLogin" value="112648"/>
    <!-- map point default login password-->
    <add key="112648" value="Madison6"/>
    <!-- map point default login data source name-->
    <add key="112648_DataSourceName" value="MapPoint.NA"/>
    <!-- max wait time per request -->
    <add key="MapPointMaxWaitTimePerRequest" value="2000"/>
    <!-- max number of retries on connection timeout -->
    <add key="MapPointMaxRequestRetry" value="10"/>
    <!-- sleep time in miliseconds between request on connection timeout -->
    <add key="MapPointSleepTimeBetweenRequest" value="100"/>
    <!-- ========================== -->
    <!-- Data Loader settings       -->
    <!-- ========================== -->
    <!-- getGeocode.aspx needs its own meta data for link definitions -->
    <add key="GetGeocodeMetaData" value="C:\Users\agill\workspace\CSharpLib_03_Sharing\DMP.Websites.Neptune\getgeocodemetadata.xml"/>
    <add key="CustomerLayersDBName" value="CustomerLayers_SqlSpatial"/>
    <!--<add key="TempDBName" value="TEMP_DATABASE1" />-->
    <add key="TrustedDBLogin" value="account_tools"/>
    <add key="TrustedDBPassword" value="@T00l$"/>
    <!-- Memory Cache Parameters-->
    <!-- Whether or not the memory cache is enabled -->
    <add key="memCacheEnabled" value="false"/>
    <!-- Path to the files containing the list of keys for objects currently cached in memory -->
    <!--<add key="cacheDirectory" value="\\irvstg\c$\temp\SharedTemp2\1.0.17\" />-->
    <add key="cacheDirectory" value="c:\temp\SharedTemp2\1.0.17\"/>
    <!-- Duration to cache objects (in minutes) -->
    <add key="cacheDuration" value="5"/>
    <!-- Place to publish cached user files to -->
    <add key="PublishedCacheDirectory" value="\\irvcluster\SharedTemp\CachedUserFiles\"/>
    <add key="DevBuildPattern" value="(internal.spatialstream.com|spatialstream.com)(/(rset\w*|_t\d*))?"/>
    <!--<add key="DevBuildReplaceWithPattern" value="localhost:2629/TestTier" />-->
    <add key="DevBuildReplaceWithPattern" value="localhost:3427/DMP.Websites.Neptune"/>
    <add key="InteractiveLoadMaxFileSize" value="2097152"/>
    <add key="maxRecordVertices" value="2000000"/>
    <!-- ========================== -->
    <!-- Extract settings         -->
    <!-- ========================== -->
    <add key="EXTRACT_EXPIRE_HOURS" value="72"/>
    <add key="EXTRACT_INTERACTIVE_THRESHOLD_BYTES" value="102400000"/>
    <add key="EXTRACT_PERMISSION_STRING" value="R"/>
    <add key="EXTRACT_MAX_ESTIMATE_SIZE_BYTES" value="2147483647"/>
    <!-- should point to publically available directory through URL -->
    <add key="EXTRACT_ZIP_LOCATION" value="C:\temp\local\"/>
    <!-- the base URL that users will go through to get to the zip file. should point to the above directory. The _T50 should be replaced with the machine's tempID  -->
    <add key="EXTRACT_SERVER_PATH" value="http://dc1.parcelstream.com/_T50/_T50/"/>
    <add key="BirtViewer" value="http://10.0.20.115/BirtViewer/frameset?"/>
    <!-- Authentication Cache Parameters -->
    <!--<add key="AUTHENTICATION_CACHE" value="\\irvstg\c$\Replicated2\" />-->
    <add key="AUTHENTICATION_CACHE" value="\\irvfs01\ReplicatedAuthCache\"/>
    <add key="DataCenter" value="dc1"/>
    <add key="ServerID" value="0"/>
    <add key="UserFolderAttributes" value="\\irvstg\c$\Digital Map Websites\spatialstream.com\1.0.17\App_Data\userFolder.attributes"/>
    <!--<add key="AuthenticationHost" value="localhost:3428/DmpAuthentication" />-->
    <add key="AuthenticationHost" value="localhost:3427/DMP.Websites.Neptune"/>
    <add key="DEFAULT_GROUP_NAME" value="ALL"/>
    <!-- Trial User -->
    <add key="TrialUser" value="239272"/>
    <!-- whether or not to enable concurrent user lock-->
    <add key="CONCURRENT_USER_LOCK_ENABLED" value="true"/>
    <!-- comma separated list of the auth servers on this datacenter -->
    <add key="AUTH_SERVERS" value="_T195,_T197"/>
    <add key="CAD_STRING_POINT" value="ImageSymbolizer=IMAGE:PUBLIC_FOLDER/Symbols/Shapes_Solid/circle1.svg;HEIGHT:32"/>
    <add key="CAD_STRING_LINE" value="BasicSymbolizer=STROKE_COLOR:#FF00FFFF;SIZE:2"/>
    <add key="CAD_STRING_POLYGON" value="BasicSymbolizer=FILL_COLOR:#7FFFFF00;STROKE_COLOR:#FF00FFFF;SIZE:2"/>
    <!-- units in milliseconds -->
    <add key="RESPONSE_MAX_TIMEOUT" value="120000"/>
  </appSettings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm"/>
    <sessionState mode="Off"/>
    <httpRuntime maxRequestLength="30720"/>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <!-- zero or more compiler elements -->
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" compilerOptions="/optimize" warningLevel="1">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.net>
    <connectionManagement>
      <!-- 
        default number of connection to web resources 
        Note: this limit has no effect on number of connection to local machine
      -->
      <add address="*" maxconnection="40"/>
    </connectionManagement>
  </system.net>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".svg" mimeType="text/xml"/>
    </staticContent>
      <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>